{% extends 'base.html' %}

{% block content %}

<h1>Citas</h1>

<a href="/citas/crear" class="btn btn-primary mb-3">
    Nueva Cita
</a>

<table class="table table-striped">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Médico</th>
            <th>Paciente</th>
        </tr>

    </thead>

    <tbody>

        {% for cita in citas %}

        <tr>

            <td>{{ cita.id }}</td>
            <td>{{ cita.fecha }}</td>
            <td>{{ cita.hora }}</td>
            <td>{{ cita.medico.nombre }}</td>
            <td>{{ cita.paciente.nombre }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}